@media print {
  html {
    background: unset !important;
  }
  body {
    width: auto !important;
    height: auto !important;
    overflow: auto;
    background: unset !important;
    box-shadow: none !important;
  }
  body > *:not(.ez-print) {
    display: none !important;
  }

  button[type="submit"] {
    display: none;
  }

  input[name="name"] {
    border: none;
    background: none;
  }

  .ez-print {
    width: 100% !important;
    height: auto !important;
    position: unset !important;
    box-shadow: none;
    background-image: none;
  }

  .window-header {
    display: none;
  }
  .window-content {
    background-image: none !important;
  }
  .tab[data-tab] {
    display: flex;
    height: auto !important;
    /* Break after each */
    page-break-after: always;
    break-after: always;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  /* Avoid breaks */
  table,
  li,
  p {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  nav.tabs {
    display: none !important;
  }

  li.item {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .window-resizable-handle,
  .fa-edit,
  .config-button,
  .item-control,
  .item-controls {
    opacity: 0;
  }

  .item-controls {
    display: none;
  }

  .editor-edit {
    display: none !important;
  }

  .journal-sheet select[name="folder"] {
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }
  .journal-sheet form .editor {
    height: 100%;
  }
}
